@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-[#009688];
}
/* :root { */
/* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

/* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
body {
  background-color: #f8f9fa;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}
